* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Fira Sans', sans-serif;
}
   
header {
    width: 100;
    
}

#encabezado {
    margin: 5px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

#contenido {
    justify-content: center;
    position: relative;
    color:#fff;
    margin-top: 10%;
    margin-bottom: 20px;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 2em;
}

video {
    position: fixed;

    min-width: 100%;
    min-height: 100%;

    top: 50% ;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
   









